/*apply to all of the content*/
body{
    font-family: Arial, Helvetica, sans-serif;
    background-color: rgb(178, 132, 221);
    color: rgb(113, 219, 7);
}

h1{
    color: rgb(151, 234, 248);
    text-decoration: underline;
}

/*attribute selector pseudo class*/
a{
    color: cornsilk;
    text-decoration: none;
}

a:hover{
    color: aquamarine;
    text-decoration: underline;
}

/*child selector*/
ul > li{
    color: cyan;
    font-weight: bold;
}

/*hover child selector*/
ul li:hover{
    color: yellow;
}

/*sibling selector*/
h1, p{
    background-color: rgb(6, 106, 136);
}

/*nth-child pseudo class*/
ul li:nth-child(3){
    background-color: rgb(201, 201, 201);
}

